<!DOCTYPE html>
<html lang="en">

<head>
  <title>List Prices</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>

<body>
<div class="container">
  <h1>Customer Table</h1>
  <div class="row col-md-7 table-responsive">
    <table id="customerTable" class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Age</th>
          <th>Street</th>
          <th>Postcode</th>
        </tr>
      </thead>
      <tbody>
         <tr th:each="customer, rowStat: ${customers}"
            th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
              <td th:text="${customer.id}">1</td>
          <td th:text="${customer.name}">Jack</td>
              <td th:text="${customer.age}">23</td>
              <td th:text="${customer.address.street}">AVE N</td>
              <td th:text="${customer.address.postcode}">77587</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>